<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to follow</p>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
         <%= gravatar_image_tag(current_user.email, size: 64, alt:current_user.name)%>
        </figure>
      </div>
      <div class="media-content">
        <p>
          <strong>Anvi Alex</strong>
          <small>@anvi_al</small>
        </p>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <%= gravatar_image_tag(current_user.email, size: 64, alt:current_user.name)%>
        </figure>
      </div>
      <div class="media-content">
        <p>
          <strong>Anvi Alex</strong>
          <small>@anvi_al</small>
        </p>
      </div>
    </article> 
  </div>
    <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <%= gravatar_image_tag(current_user.email, size: 64, alt:current_user.name)%>
        </figure>
      </div>
      <div class="media-content">
        <p>
          <strong>Anvi Alex</strong>
          <small>@anvi_al</small>
        </p>
      </div>
    </article> 
  </div>
  </div>
  </nav>
</div>